/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Styling the social icons in a table */
.social-icons table {
    border-collapse: collapse; /* Remove table borders */
    margin: 0 auto; /* Center the table horizontally */
}

.social-icons td {
    padding: 1rem; /* Add some padding inside table cells */
    text-align: center; /* Center text content */
}

.social-icons a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    transition: transform 0.2s ease-in-out;
}

.social-icons i {
    transition: transform 0.2s ease-in-out;
}

.social-icons a:hover i {
    transform: scale(1.1);
}

.bio-image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 1rem auto;
    max-width: 200px;
}

header {
    text-align: center;
    padding: 1rem;
}

h1 {
    font-size: 2em;
}

footer {
    text-align: center;
    color: #cccccc;
    padding-top: 1rem;
}

